{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-alert"             : 0,
    "key-spacing"          : 0,
    "quotes": "off",
    "max-len"              : [2, 120, 2],
    "indent": ["error", "tab"],
    "object-curly-spacing" : [2, "always"],
    "no-tabs" : "off"
  }
}
